@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Buljirya';
  src: url(../public/Buljirya.ttf);
}
@font-face {
  font-family: 'burtons';
  src: url(../public/Burtons.otf);
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@keyframes animate {
  0%,100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateX(4px);
  }
}